node_modules
coverage
pacts
dist-web
dist-lambda
logs

config.sh
*.key
*.key.pub
serverless-output.yml
package-lock.json

# Serverless directories
.serverless
.webpack

npm-debug*

# vim
*.sw[op]

# sensitive/environment information
*-secrets.*
